In [1]:
import pandas as pd
library=pd.read_csv('libraries.csv', low_memory=False)
states=pd.read_csv('states.csv', low_memory=False)

In [2]:
library.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9242 entries, 0 to 9241
Data columns (total 74 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   State                                  9242 non-null   object
 1   Library ID                             9242 non-null   object
 2   Submission Year                        9242 non-null   object
 3   Library Name                           9242 non-null   object
 4   Street Address                         9242 non-null   object
 5   City                                   9242 non-null   object
 6   Zip Code                               9242 non-null   int64
 7   Longitude                              9242 non-null   float64
 8   Latitude                               9242 non-null   float64
 9   State Code                             9242 non-null   int64
 10  County Code                            9242 non-null   int64
 11  County                                 9242 non-null   object
 12  County Population                      9242 non-null   int64
 13  Public Library Definition              9242 non-null   object
 14  Legal Basis                            9242 non-null   object
 15  Administrative Structure               9242 non-null   object
 16  Interlibrary Relationship              9242 non-null   object
 17  Service Population                     9242 non-null   object
 18  Service Population Without Duplicates  9242 non-null   object
 19  Central Libraries                      9242 non-null   object
 20  Branch Libraries                       9242 non-null   object
 21  Bookmobiles                            9242 non-null   object
 22  MLS Librarians                         9242 non-null   object
 23  Librarians                             9242 non-null   object
 24  Employees                              9242 non-null   object
 25  Total Staff                            9242 non-null   object
 26  Local Government Operating Revenue     9242 non-null   object
 27  State Government Operating Revenue     9242 non-null   object
 28  Federal Government Operating Revenue   9242 non-null   object
 29  Other Operating Revenue                9242 non-null   object
 30  Total Operating Revenue                9242 non-null   object
 31  Salaries                               9242 non-null   object
 32  Benefits                               9242 non-null   object
 33  Total Staff Expenditures               9242 non-null   object
 34  Print Collection Expenditures          9242 non-null   object
 35  Digital Collection Expenditures        9242 non-null   object
 36  Other Collection Expenditures          9242 non-null   object
 37  Total Collection Expenditures          9242 non-null   object
 38  Other Operating Expenditures           9242 non-null   object
 39  Total Operating Expenditures           9242 non-null   object
 40  Local Government Capital Revenue       9242 non-null   object
 41  State Government Capital Revenue       9242 non-null   object
 42  Federal Government Capital Revenue     9242 non-null   object
 43  Other Capital Revenue                  9242 non-null   object
 44  Total Capital Revenue                  9242 non-null   object
 45  Total Capital Expenditures             9242 non-null   object
 46  Print Collection                       9242 non-null   object
 47  Digital Collection                     9242 non-null   object
 48  Audio Collection                       9242 non-null   object
 49  Downloadable Audio                     9242 non-null   object
 50  Physical Video                         9242 non-null   object
 51  Downloadable Video                     9242 non-null   object
 52  Local Cooperative Agreements           9242 non-null   object
 53  State Licensed Databases               9242 non-null   object
 54  Total Licensed Databases               9242 non-null   object
 55  Print Subscriptions                    9242 non-null   object
 56  Hours Open                             9242 non-null   object
 57  Library Visits                         9242 non-null   object
 58  Reference Transactions                 9242 non-null   object
 59  Registered Users                       9242 non-null   object
 60  Circulation Transactions               9242 non-null   object
 61  Interlibrary Loans Provided            9242 non-null   object
 62  Interlibrary Loans Received            9242 non-null   object
 63  Library Programs                       9242 non-null   object
 64  Children’s Programs                    9242 non-null   object
 65  Young Adult Programs                   9242 non-null   object
 66  Library Program Audience               9242 non-null   object
 67  Children’s Program Audience            9242 non-null   object
 68  Young Adult Program Audience           9242 non-null   object
 69  Public Internet Computers              9242 non-null   object
 70  Internet Computer Use                  9242 non-null   object
 71  Wireless Internet Sessions             9242 non-null   object
 72  Start Date                             9242 non-null   object
 73  End Date                               9242 non-null   object
dtypes: float64(2), int64(4), object(68)
memory usage: 5.2+ MB

In [3]:
# Chuyển các cột sang dạng số (float hoặc int)
numeric_columns = [
    'Zip Code', 'Longitude', 'Latitude', 'State Code', 'County Code', 'County Population', 
    'Service Population', 'Service Population Without Duplicates', 'Total Staff', 
    'Total Operating Revenue', 'Total Operating Expenditures', 'Total Capital Revenue', 
    'Total Capital Expenditures', 'Print Collection', 'Digital Collection', 
    'Library Visits', 'Registered Users', 'Circulation Transactions'
]
for col in numeric_columns:
    library[col] = pd.to_numeric(library[col], errors='coerce')

In [4]:
# Danh sách các cột cần giữ lại
columns_to_keep = [
    'State', 'Library Name', 'City', 'County', 'Service Population', 'Total Staff',
    'Print Collection', 'Digital Collection', 'Library Visits', 'Registered Users',
    'Circulation Transactions', 'Start Date', 'End Date'
]

# Loại bỏ các cột không cần thiết
library = library[columns_to_keep]

In [5]:
# Kiểm tra dữ liệu thiếu
missing_data = library.isnull().sum()

# Điền giá trị 0 cho các cột số liệu bị thiếu
library.fillna(0, inplace=True)

In [6]:
# Loại bỏ các hàng trùng lặp
library.drop_duplicates(inplace=True)

In [7]:
# Chuẩn hóa tên cột
library.columns = library.columns.str.strip().str.lower().str.replace(' ', '_')

In [8]:
# Chuyển đổi cột ngày tháng
library['start_date'] = pd.to_datetime(library['start_date'], errors='coerce')
library['end_date'] = pd.to_datetime(library['end_date'], errors='coerce')

In [9]:
# Phân loại thư viện dựa trên số lượng sách
def classify_library(row):
    if row['print_collection'] > 100000:
        return 'Large'
    elif row['print_collection'] > 50000:
        return 'Medium'
    else:
        return 'Small'

library['library_size'] = library.apply(classify_library, axis=1)

In [10]:
# Tính toán tổng số ngày hoạt động
library['days_open'] = (library['end_date'] - library['start_date']).dt.days

In [11]:
# Tạo báo cáo đơn giản
report = library.groupby('state').agg({
    'print_collection': 'sum',
    'library_visits': 'sum',
    'registered_users': 'sum',
    'circulation_transactions': 'sum'
}).reset_index()
report

,state,print_collection,library_visits,registered_users,circulation_transactions
0,AK,2434236.0,3491307.0,358089.0,4792662.0
1,AL,9442083.0,17217399.0,2663713.0,20526318.0
2,AR,6304377.0,10973629.0,1615238.0,14390348.0
3,AZ,8229847.0,27609708.0,3118822.0,43672064.0
4,CA,65409430.0,164300175.0,21723648.0,222788583.0
5,CO,10316703.0,32981666.0,3588616.0,64683932.0
6,CT,14577630.0,21972583.0,1647190.0,31081616.0
7,DC,1815540.0,4230790.0,359371.0,3938767.0
8,DE,1642715.0,3834672.0,379791.0,6180769.0
9,FL,31602986.0,75553933.0,10615421.0,116693486.0
10,GA,16603157.0,29490195.0,4164735.0,39001826.0
11,HI,3313134.0,4875365.0,915100.0,6465428.0
12,IA,12000156.0,18047771.0,2056436.0,27866711.0
13,ID,4323706.0,8730670.0,846363.0,14336583.0
14,IL,43503775.0,72605776.0,5606184.0,114164794.0
15,IN,24369165.0,35441059.0,3716275.0,77209842.0
16,KS,9300570.0,13931862.0,1774222.0,25043430.0
17,KY,9032867.0,19283936.0,2664920.0,30480023.0
18,LA,11895895.0,17242110.0,2476596.0,20838047.0
19,MA,31284463.0,42011647.0,3395801.0,63106520.0
20,MD,12735957.0,27793912.0,3491938.0,58307979.0
21,ME,6311238.0,6913321.0,759403.0,9372340.0
22,MI,32565459.0,50132634.0,5128464.0,83845712.0
23,MN,14612520.0,24566264.0,4080678.0,54127960.0
24,MO,16795426.0,29533418.0,3289931.0,55722388.0
25,MS,5641524.0,9191161.0,1637307.0,8066272.0
26,MT,2566095.0,4703036.0,481933.0,5941658.0
27,NC,16751726.0,35106249.0,5059879.0,52848517.0
28,ND,2303511.0,2186029.0,281383.0,3994619.0
29,NE,5915734.0,8333692.0,1085590.0,13162862.0
30,NH,5860765.0,7509771.0,809990.0,10448047.0
31,NJ,28228099.0,45848755.0,4408002.0,58683207.0
32,NM,4309295.0,7351791.0,1029945.0,9226822.0
33,NV,4297937.0,10525170.0,1323756.0,21042400.0
34,NY,70810749.0,106452505.0,10924631.0,143083788.0
35,OH,42782249.0,82495138.0,9043300.0,183628646.0
36,OK,7152132.0,13687407.0,2043524.0,21853577.0
37,OR,9872900.0,21640633.0,1961047.0,57135908.0
38,PA,25780211.0,44791865.0,5330482.0,66393992.0
39,RI,4233090.0,6025726.0,466618.0,7161678.0
40,SC,9106716.0,18178677.0,2599480.0,26021153.0
41,SD,2807214.0,3914777.0,383507.0,5763501.0
42,TN,11761312.0,19528492.0,3362436.0,26175547.0
43,TX,40413604.0,73078235.0,13187230.0,113283343.0
44,UT,6643558.0,17654845.0,1793578.0,37216765.0
45,VA,17539588.0,37405643.0,4850306.0,74613394.0
46,VT,2940126.0,3779545.0,323486.0,4479630.0
47,WA,13429660.0,41280937.0,4361927.0,83745438.0
48,WI,18796863.0,32854187.0,3452345.0,60411136.0
49,WV,5034331.0,5367596.0,933968.0,6261504.0
50,WY,2496972.0,3666825.0,400460.0,4914332.0

In [127]:
library_cleaned= library[library['service_population'] > 0]

In [135]:
library_cleaned

,state,library_name,city,county,service_population,total_staff,print_collection,digital_collection,library_visits,registered_users,circulation_transactions,start_date,end_date,library_size,days_open
0,AK,ANCHOR POINT PUBLIC LIBRARY,ANCHOR POINT,KENAI PENINSULA,2059.0,0.68,16843.0,0.0,5379.0,396.0,11607.0,2013-07-01,2014-06-30,Small,364.0
1,AK,ANCHORAGE PUBLIC LIBRARY,ANCHORAGE,ANCHORAGE,300549.0,78.90,481861.0,9773.0,942873.0,119619.0,1886620.0,2013-01-01,2013-12-31,Large,364.0
2,AK,ANDERSON VILLAGE LIBRARY,ANDERSON,DENALI,209.0,0.50,15304.0,0.0,874.0,161.0,1092.0,2013-07-01,2014-06-30,Small,364.0
3,AK,KUSKOKWIM CONSORTIUM LIBRARY,BETHEL,BETHEL,6241.0,3.00,34115.0,165.0,44980.0,1500.0,12347.0,2013-07-01,2014-06-30,Small,364.0
4,AK,BIG LAKE PUBLIC LIBRARY,BIG LAKE,MATANUSKA-SUSITNA,12793.0,3.00,23810.0,9773.0,43285.0,3878.0,59630.0,2013-07-01,2014-06-30,Small,364.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9237,WY,SUBLETTE COUNTY LIBRARY,PINEDALE,SUBLETTE,10041.0,15.00,73390.0,7766.0,197314.0,6073.0,119741.0,2013-07-01,2014-06-30,Medium,364.0
9238,WY,TETON COUNTY LIBRARY,JACKSON,TETON,22268.0,41.36,81207.0,7832.0,280211.0,32446.0,354163.0,2013-07-01,2014-06-30,Medium,364.0
9239,WY,UINTA COUNTY LIBRARY,EVANSTON,UINTA,21066.0,13.00,111377.0,7087.0,112403.0,16279.0,179197.0,2013-07-01,2014-06-30,Large,364.0
9240,WY,WASHAKIE COUNTY LIBRARY,WORLAND,WASHAKIE,8463.0,6.30,73464.0,7087.0,73300.0,6774.0,70396.0,2013-07-01,2014-06-30,Medium,364.0
9241,WY,WESTON COUNTY LIBRARY SYSTEM,NEWCASTLE,WESTON,7158.0,6.41,43264.0,7087.0,43103.0,4929.0,47855.0,2013-07-01,2014-06-30,Small,364.0

In [26]:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Submission Year                        51 non-null     int64
 1   State                                  51 non-null     object
 2   State Code                             51 non-null     int64
 3   Region Code                            51 non-null     int64
 4   Service Population                     51 non-null     int64
 5   Service Population Without Duplicates  51 non-null     int64
 6   State Population                       51 non-null     int64
 7   Central Libraries                      51 non-null     int64
 8   Branch Libraries                       51 non-null     int64
 9   Bookmobiles                            51 non-null     int64
 10  MLS Librarians                         51 non-null     float64
 11  Librarians                             51 non-null     float64
 12  Employees                              51 non-null     float64
 13  Total Staff                            51 non-null     float64
 14  Local Government Operating Revenue     51 non-null     int64
 15  State Government Operating Revenue     51 non-null     int64
 16  Federal Government Operating Revenue   51 non-null     int64
 17  Other Operating Revenue                51 non-null     int64
 18  Total Operating Revenue                51 non-null     int64
 19  Salaries                               51 non-null     int64
 20  Benefits                               51 non-null     int64
 21  Total Staff Expenditures               51 non-null     int64
 22  Print Collection Expenditures          51 non-null     int64
 23  Digital Collection Expenditures        51 non-null     int64
 24  Other Collection Expenditures          51 non-null     int64
 25  Total Collection Expenditures          51 non-null     int64
 26  Other Operating Expenditures           51 non-null     int64
 27  Total Operating Expenditures           51 non-null     int64
 28  Local Government Capital Revenue       51 non-null     int64
 29  State Government Capital Revenue       51 non-null     int64
 30  Federal Government Capital Revenue     51 non-null     int64
 31  Other Capital Revenue                  51 non-null     int64
 32  Total Capital Revenue                  51 non-null     int64
 33  Total Capital Expenditures             51 non-null     int64
 34  Print Collection                       51 non-null     int64
 35  Digital Collection                     51 non-null     int64
 36  Audio Collection                       51 non-null     int64
 37  Downloadable Audio                     51 non-null     float64
 38  Physical Video                         51 non-null     int64
 39  Downloadable Video                     51 non-null     float64
 40  Local Cooperative Agreements           51 non-null     int64
 41  State Licensed Databases               51 non-null     int64
 42  Total Licensed Databases               51 non-null     int64
 43  Print Subscriptions                    51 non-null     int64
 44  Hours Open                             51 non-null     int64
 45  Library Visits                         51 non-null     int64
 46  Reference Transactions                 51 non-null     int64
 47  Registered Users                       51 non-null     int64
 48  Circulation Transactions               51 non-null     int64
 49  Interlibrary Loans Provided            51 non-null     int64
 50  Interlibrary Loans Received            51 non-null     int64
 51  Library Programs                       51 non-null     int64
 52  Children’s Programs                    51 non-null     int64
 53  Young Adult Programs                   51 non-null     int64
 54  Library Program Audience               51 non-null     int64
 55  Children’s Program Audience            51 non-null     int64
 56  Young Adult Program Audience           51 non-null     int64
 57  Public Internet Computers              51 non-null     int64
 58  Internet Computer Use                  51 non-null     int64
 59  Wireless Internet Sessions             51 non-null     int64
 60  Start Date                             51 non-null     object
 61  End Date                               51 non-null     object
dtypes: float64(6), int64(53), object(3)
memory usage: 24.8+ KB

In [42]:
# Kiểm tra giá trị thiếu
missing_values = states.isnull().sum()

# Thay thế giá trị thiếu bằng 0 nếu có
states.fillna(0, inplace=True)

# Chuyển đổi các cột ngày tháng từ object sang datetime
states['Start Date'] = pd.to_datetime(states['Start Date'])
states['End Date'] = pd.to_datetime(states['End Date'])

# Xóa các cột không cần thiết
columns_to_drop = [
    'Submission Year', 'State Code', 'Region Code', 'State Population', 
    'Service Population Without Duplicates', 'Local Cooperative Agreements', 
    'State Licensed Databases', 'Total Licensed Databases', 'Start Date', 
    'End Date', 'Local Government Capital Revenue', 'State Government Capital Revenue', 
    'Federal Government Capital Revenue', 'Other Capital Revenue', 
    'Other Operating Expenditures', 'Other Collection Expenditures', 'Print Subscriptions'
]
states_cleaned = states.drop(columns=columns_to_drop)

# Chuyển đổi các cột số liệu sang kiểu numeric nếu cần
numeric_columns = ['Service Population', 'Local Government Operating Revenue', 
                   'Total Staff Expenditures', 'Total Collection Expenditures', 'Print Collection']
states_cleaned[numeric_columns] = states_cleaned[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Tạo các cột bổ sung: số lượng sách còn lại và tỷ lệ mượn sách
states_cleaned['Books Available'] = states_cleaned['Print Collection'] - states_cleaned['Circulation Transactions']
states_cleaned['Borrow Rate'] = states_cleaned['Circulation Transactions'] / states_cleaned['Print Collection']
# Chuẩn hóa tên cột
states_cleaned.columns = states_cleaned.columns.str.strip().str.lower().str.replace(' ', '_')
states_cleaned

,state,service_population,central_libraries,branch_libraries,bookmobiles,mls_librarians,librarians,employees,total_staff,local_government_operating_revenue,...,children’s_programs,young_adult_programs,library_program_audience,children’s_program_audience,young_adult_program_audience,public_internet_computers,internet_computer_use,wireless_internet_sessions,books_available,borrow_rate
0,AK,652274,85,16,1,58.81,112.53,190.51,303.04,32474960,...,8802,1528,279080,202322,25902,998,772129,479245,-2358426,1.968857
1,AL,4822023,221,76,14,329.58,736.22,1080.88,1817.10,88056291,...,21685,4844,1053347,696970,77371,5302,4359414,15224387,-11084235,2.173918
2,AR,2833849,54,179,2,142.01,286.40,767.09,1053.49,64665467,...,21081,4620,997901,712783,88721,2596,1970448,160450,-8085971,2.282596
3,AZ,10501253,85,135,11,461.32,546.24,1485.28,2031.52,157746903,...,37852,6702,1472963,1034731,109545,5593,8255038,5880952,-35442217,5.306545
4,CA,38322887,167,950,53,2976.50,3209.71,8388.34,11598.05,1265099905,...,206627,33645,9491467,6909344,531379,21735,35000501,14252610,-157379153,3.406062
5,CO,5238320,97,162,13,663.22,910.62,2340.11,3250.73,265575219,...,67253,9064,2647097,1799469,151930,6407,7395748,6234884,-54367229,6.269826
6,CT,4374214,192,47,4,752.51,1074.91,1210.12,2285.03,168823962,...,54737,7381,2003864,1226174,112501,4355,4465464,524318,-16503986,2.132145
7,DC,658893,1,25,0,147.00,147.00,423.00,570.00,53095222,...,8514,1566,284969,225815,15624,1000,1050623,-1,-2123227,2.169474
8,DE,925244,19,13,2,63.58,121.72,208.31,330.03,19805621,...,5408,1197,256274,175335,17349,772,622515,139907,-4538054,3.762533
9,FL,19813366,63,468,24,1669.69,1917.91,4074.37,5992.28,461436699,...,96748,17006,4611959,2928059,314348,16781,19076151,3276803,-85090500,3.692483
10,GA,10345555,63,332,13,598.08,598.08,2136.24,2734.32,159598459,...,40018,6326,1876992,1466586,113464,8604,13141148,3215671,-22398669,2.349061
11,HI,1404054,1,49,2,171.00,172.00,375.50,547.50,0,...,6891,1926,275229,198898,46832,524,723305,177357,-3152294,1.951454
12,IA,3096479,543,24,3,296.90,984.49,771.43,1755.93,107847482,...,50700,6293,1620467,1281377,94146,4726,3422321,1786714,-15866555,2.322196
13,ID,1364648,100,44,11,96.15,208.46,556.04,764.50,46162010,...,21377,2931,767031,631032,53030,1792,1878131,266527,-10012877,3.315809
14,IL,11711641,625,157,19,2146.19,3154.25,5465.73,8619.98,714407174,...,119282,16791,4693071,3293369,316295,15867,13885831,-1,-70661019,2.624250
15,IN,6219453,236,191,25,940.63,1435.34,2942.43,4377.77,294462940,...,81430,13356,2974236,1933209,195244,8759,7226264,6532952,-52840677,3.168342
16,KS,2495794,327,49,5,279.23,700.26,1022.48,1722.74,104906554,...,35508,5523,1240790,871178,80953,3740,3165157,654016,-15742860,2.692677
17,KY,4395295,119,87,75,349.42,1199.75,978.61,2178.36,161990162,...,58369,7055,2006238,1426392,113081,4858,4550684,1266660,-21447156,3.374346
18,LA,4671955,68,272,28,457.54,1048.21,1586.36,2634.57,226021907,...,41820,10501,1800229,1133928,169931,5359,5276086,1819445,-8942152,1.751701
19,MA,6672700,370,94,4,1260.69,1798.56,1909.86,3708.42,251775710,...,74280,10265,2565482,1767577,122424,6430,7279216,1526660,-31822057,2.017184
20,MD,5828289,15,172,16,651.08,1348.86,1982.30,3331.16,223793485,...,42531,5190,1784890,1274009,132072,4858,6494653,3135070,-45572022,4.578217
21,ME,1339278,264,6,1,155.77,339.94,341.87,681.81,32241871,...,21882,2354,581480,352537,24162,1961,1206007,136935,-3061102,1.485024
22,MI,9849089,385,259,9,1238.11,1777.89,3012.81,4790.70,359285768,...,69603,11135,3167988,2100613,203240,11930,10827079,5654741,-51280253,2.574682
23,MN,5739502,129,227,8,519.20,775.15,1361.81,2136.96,182233620,...,37914,6263,1396310,1032396,76959,5630,5441683,864660,-39515440,3.704218
24,MO,5476144,139,223,27,270.27,798.53,2341.64,3140.17,223182602,...,46818,7009,2268611,1646678,171055,4945,6376873,1306989,-38926962,3.317712
25,MS,3001323,52,183,2,130.78,630.29,310.26,940.55,35863756,...,14473,1999,637635,424681,29858,2769,2522679,401928,-2424748,1.429804
26,MT,996627,82,33,4,72.11,190.30,192.85,383.15,24590502,...,9349,1197,311284,208543,21168,1282,1912867,220258,-3375563,2.315447
27,NC,9861952,69,316,23,718.88,771.64,2135.19,2906.83,183175530,...,81887,8607,2605492,2112685,129165,7671,7806189,1305266,-36096791,3.154810
28,ND,650604,78,4,11,39.88,134.27,111.03,245.30,15478970,...,5265,1267,183507,145049,12589,848,577405,132129,-1691108,1.734141
29,NE,1541684,267,19,7,115.43,357.64,435.79,793.43,51712793,...,20349,3018,726967,563590,43840,2942,2130767,967657,-7247128,2.225060
30,NH,1445227,228,5,0,221.31,474.96,334.39,809.35,53800224,...,26420,2944,749247,490198,32649,1473,991583,176166,-4587282,1.782710
31,NJ,9414939,296,143,12,1177.28,1410.33,3323.64,4733.97,449614622,...,95163,15732,3335649,2000242,207662,8023,9799563,4210632,-30455108,2.078893
32,NM,1670727,95,27,1,125.64,282.04,377.23,659.27,42323009,...,11397,2763,469943,335275,37130,1639,2094371,1916770,-4917527,2.141144
33,NV,2795962,18,67,3,166.48,203.06,633.85,836.91,63624617,...,14217,1172,814150,486550,24376,1307,2736610,1203473,-16744463,4.895930
34,NY,19521570,755,310,7,3437.24,4073.88,8390.97,12464.85,1080968139,...,213468,55526,8951644,4630849,725295,19411,22261108,9771506,-72273819,2.020597
35,OH,11525088,239,470,53,1901.03,2598.91,6335.88,8934.79,332528033,...,174003,26919,6106582,4513893,456598,12931,20037428,4381429,-140846397,4.292169
36,OK,3160556,116,96,4,293.52,679.94,789.15,1469.09,105045474,...,20974,4134,1161528,757565,79888,3067,3619212,684920,-14701445,3.055533
37,OR,3754296,127,95,7,411.11,499.04,1302.17,1801.21,188339786,...,45164,6532,1518406,1227929,74656,3135,3883152,13104454,-47263008,5.787145
38,PA,12446680,451,170,23,1164.29,1481.54,2961.98,4443.52,223409031,...,125188,19448,4101104,2955004,270086,8050,8543924,6372909,-40613781,2.575386
39,RI,1431901,47,23,1,206.98,248.51,336.59,585.10,32083396,...,13070,2359,407511,207300,22971,1397,1424836,-1,-2928588,1.691832
40,SC,4652360,40,152,31,475.21,602.36,1306.73,1909.09,118522777,...,24216,3879,1005858,692762,99007,4203,4481009,1150677,-16914437,2.857359
41,SD,1214319,112,32,5,45.23,181.46,174.67,356.13,23957009,...,9453,1205,274433,234741,15229,1105,1474838,133473,-2956287,2.053104
42,TN,6333476,186,100,3,261.57,560.54,1256.75,1817.29,104956581,...,28537,6168,1318056,928990,112756,5043,5268362,-1,-14414235,2.225564
43,TX,24379565,554,319,7,1676.75,2443.28,4344.54,6787.82,467537819,...,127070,23029,6071883,4179684,350617,19070,17528031,14591219,-72869739,2.803099
44,UT,2880340,57,70,16,215.48,360.79,878.48,1239.27,99059659,...,22070,2716,1260052,962393,59339,2088,2947638,1687831,-30573207,5.601933
45,VA,8088031,83,274,22,878.66,974.35,2841.62,3815.97,248703894,...,61880,7362,2335862,1660050,138023,6875,7246441,4691566,-57073806,4.253999
46,VT,687129,181,3,4,64.28,210.85,134.68,345.53,17787199,...,15099,1329,382193,264223,15460,1089,649906,660675,-1539504,1.523618
47,WA,6862264,54,290,27,783.01,826.88,2894.99,3721.87,387509151,...,50587,13422,2153202,1609938,213483,6573,10539089,4236737,-70315778,6.235857
48,WI,5728745,378,82,6,684.72,1142.18,1910.54,3052.72,210199757,...,60314,6919,2226932,1683696,104324,6284,6037314,2511986,-41614273,3.213895
49,WV,1852994,97,76,8,95.13,361.58,284.56,646.14,25892233,...,15765,2012,419781,317745,28023,1450,1075496,88915,-1227173,1.243761
50,WY,582658,23,53,2,58.29,180.47,282.44,462.91,30199906,...,11180,2281,374605,291431,34766,868,904784,126942,-2417360,1.968117

In [140]:
print(library_cleaned.info())
print(states_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9232 entries, 0 to 9241
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   state                     9232 non-null   object
 1   library_name              9232 non-null   object
 2   city                      9232 non-null   object
 3   county                    9232 non-null   object
 4   service_population        9232 non-null   float64
 5   total_staff               9232 non-null   float64
 6   print_collection          9232 non-null   float64
 7   digital_collection        9232 non-null   float64
 8   library_visits            9232 non-null   float64
 9   registered_users          9232 non-null   float64
 10  circulation_transactions  9232 non-null   float64
 11  start_date                9232 non-null   datetime64[ns]
 12  end_date                  9232 non-null   datetime64[ns]
 13  library_size              9232 non-null   object
 14  days_open                 9232 non-null   float64
dtypes: datetime64[ns](2), float64(8), object(5)
memory usage: 1.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 47 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   state                                 51 non-null     object
 1   service_population                    51 non-null     int64
 2   central_libraries                     51 non-null     int64
 3   branch_libraries                      51 non-null     int64
 4   bookmobiles                           51 non-null     int64
 5   mls_librarians                        51 non-null     float64
 6   librarians                            51 non-null     float64
 7   employees                             51 non-null     float64
 8   total_staff                           51 non-null     float64
 9   local_government_operating_revenue    51 non-null     int64
 10  state_government_operating_revenue    51 non-null     int64
 11  federal_government_operating_revenue  51 non-null     int64
 12  other_operating_revenue               51 non-null     int64
 13  total_operating_revenue               51 non-null     int64
 14  salaries                              51 non-null     int64
 15  benefits                              51 non-null     int64
 16  total_staff_expenditures              51 non-null     int64
 17  print_collection_expenditures         51 non-null     int64
 18  digital_collection_expenditures       51 non-null     int64
 19  total_collection_expenditures         51 non-null     int64
 20  total_operating_expenditures          51 non-null     int64
 21  total_capital_revenue                 51 non-null     int64
 22  total_capital_expenditures            51 non-null     int64
 23  print_collection                      51 non-null     int64
 24  digital_collection                    51 non-null     int64
 25  audio_collection                      51 non-null     int64
 26  downloadable_audio                    51 non-null     float64
 27  physical_video                        51 non-null     int64
 28  downloadable_video                    51 non-null     float64
 29  hours_open                            51 non-null     int64
 30  library_visits                        51 non-null     int64
 31  reference_transactions                51 non-null     int64
 32  registered_users                      51 non-null     int64
 33  circulation_transactions              51 non-null     int64
 34  interlibrary_loans_provided           51 non-null     int64
 35  interlibrary_loans_received           51 non-null     int64
 36  library_programs                      51 non-null     int64
 37  children’s_programs                   51 non-null     int64
 38  young_adult_programs                  51 non-null     int64
 39  library_program_audience              51 non-null     int64
 40  children’s_program_audience           51 non-null     int64
 41  young_adult_program_audience          51 non-null     int64
 42  public_internet_computers             51 non-null     int64
 43  internet_computer_use                 51 non-null     int64
 44  wireless_internet_sessions            51 non-null     int64
 45  books_available                       51 non-null     int64
 46  borrow_rate                           51 non-null     float64
dtypes: float64(7), int64(39), object(1)
memory usage: 18.9+ KB
None

In [133]:
library_cleaned.to_csv('libraries_cleaned.csv', index=False)
states_cleaned.to_csv('states_cleaned.csv', index=False)